.footer {
  background-color: #2C2B2B;
  text-align: center;
  padding: 60px;
}

.footer a {
font-size: 30px;
color: #1EDD88;
margin: 0 5px;
}

.footer p {
  color: #666666;
}

.footer .fas {
  color: red;
}
